extends ./layout

block page-header
    h1.mt-5= title

block content
    p
        | hello 
        = member
        |, you have logged in 
        = time
        | times.
        if logstatus
            a(href='session/logout') Logout
        else
            a(href='session/login') Login
        |.